In [ ]:
# default_exp data.clean_rows

# Clean dataset
> remove duplicates, N/A and calculate bad order cancellations

In [ ]:
# hide
NB_NAME = '02_data_clean_rows'
OUT_DATA_PATH = f'../data/{NB_NAME}'

In [ ]:
#hide
%load_ext autoreload
%autoreload 2

In [ ]:
# export
import logging
import pandas as pd

In [ ]:
# hide
logging.basicConfig(level=logging.INFO)

In [ ]:
# export

def clean_drop_na(df: pd.DataFrame) -> pd.DataFrame:
    df = df.dropna(axis=0, subset=['CustomerID'])
    return df

def clean_drop_duplicates(df: pd.DataFrame) -> pd.DataFrame:
    df = df.drop_duplicates()
    return df

In [ ]:
# export

def clean_remove_bad_order_cancellations(df: pd.DataFrame) -> pd.DataFrame:
    """
    Returns a copy of `df` that doesn't include the following orders:
      1. a cancel order exists without counterpart,
      2. a order for which there exists at least one counterpart with exactly the same quantity.
    NOTE: time complexity is O(n).
    """
    
    df_cleaned = df.copy(deep=True)
    df_cleaned['QuantityCanceled'] = 0

    entry_to_remove = [] ; doubtfull_entry = []

    for index, col in  df.iterrows():
        if col['Quantity'] > 0 or col['Description'] == 'Discount':
            continue        
        df_test = df[(df['CustomerID'] == col['CustomerID']) &
                     (df['StockCode']  == col['StockCode']) & 
                     (df['InvoiceDate'] < col['InvoiceDate']) & 
                     (df['Quantity']   > 0)].copy()
        
        # Cancelation WITHOUT counterpart
        if df_test.shape[0] == 0: 
            doubtfull_entry.append(index)
        
        # Cancelation WITH a counterpart
        elif df_test.shape[0] == 1: 
            index_order = df_test.index[0]
            df_cleaned.loc[index_order, 'QuantityCanceled'] = -col['Quantity']
            entry_to_remove.append(index)        
        
        # Various counterparts exist in orders: we delete the last one
        elif df_test.shape[0] > 1:
            df_test.sort_index(axis=0 ,ascending=False, inplace=True)
            for ind, val in df_test.iterrows():
                if val['Quantity'] < -col['Quantity']: continue
                df_cleaned.loc[ind, 'QuantityCanceled'] = -col['Quantity']
                entry_to_remove.append(index) 
                break            
    
    logging.info("entry_to_remove: {}".format(len(entry_to_remove)))
    logging.info("doubtfull_entry: {}".format(len(doubtfull_entry)))

    df_cleaned.drop(entry_to_remove, axis=0, inplace=True)
    df_cleaned.drop(doubtfull_entry, axis=0, inplace=True)
    
    remaining_entries = df_cleaned[(df_cleaned['Quantity'] < 0) & (df_cleaned['StockCode'] != 'D')]
    logging.info("nb of entries to delete: {}".format(remaining_entries.shape[0]))
    logging.info(str(remaining_entries[:5]))
    
    df_cleaned['TotalPrice'] = df_cleaned['UnitPrice'] * (df_cleaned['Quantity'] - df_cleaned['QuantityCanceled'])
    logging.info(str(df_cleaned.sort_values('CustomerID')[:5]))
    
    return df

In [ ]:
# export

def clean_rows(df: pd.DataFrame) -> pd.DataFrame:
    df = clean_drop_na(df)
    df = clean_drop_duplicates(df)
    df = clean_remove_bad_order_cancellations(df)
    return df

In [ ]:
from elab2team2.df.load_split import load_csv

df = load_csv('../data/01_df_split_offline_online/no_live_data.csv')
clean_rows(df[:1000])

INFO:root:entry_to_remove: 1
INFO:root:doubtfull_entry: 8
INFO:root:nb of entries to delete: 0
INFO:root:Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, QuantityCanceled]
Index: []
INFO:root:    InvoiceNo StockCode                   Description  Quantity  \
208    536389     22191        IVORY DINER WALL CLOCK         2
197    536389     22941  CHRISTMAS LIGHTS 10 REINDEER         6
210    536389     22196  SMALL HEART MEASURING SPOONS        24
209    536389     22195  LARGE HEART MEASURING SPOONS        24
207    536389     22192         BLUE DINER WALL CLOCK         2

            InvoiceDate  UnitPrice CustomerID    Country  QuantityCanceled  \
208 2010-12-01 10:03:00       8.50      12431  Australia                 0
197 2010-12-01 10:03:00       8.50      12431  Australia                 0
210 2010-12-01 10:03:00       0.85      12431  Australia                 0
209 2010-12-01 10:03:00       1.65      12431  Australia                 0
207 2010-12-01 10:03:00       8.50      12431  Australia                 0

     TotalPrice
208        17.0
197        51.0
210        20.4
209        39.6
207        17.0

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
995,536520,22469,HEART OF WICKER SMALL,1,2010-12-01 12:43:00,1.65,14729,United Kingdom
996,536520,22100,SKULLS SQUARE TISSUE BOX,1,2010-12-01 12:43:00,1.25,14729,United Kingdom
997,536520,22096,PINK PAISLEY SQUARE TISSUE BOX,1,2010-12-01 12:43:00,1.25,14729,United Kingdom
998,536520,22583,PACK OF 6 HANDBAG GIFT BOXES,1,2010-12-01 12:43:00,2.55,14729,United Kingdom
999,536520,21358,TOAST ITS - HAPPY BIRTHDAY,2,2010-12-01 12:43:00,1.25,14729,United Kingdom

In [ ]:
# hide
if False:  # only to be run manually
    df_cleaned = clean_rows(df)
    !mkdir -p {OUT_DATA_PATH}
    df_cleaned.to_csv(f'{OUT_DATA_PATH}/no_live_data_cleaned.csv')

INFO:root:entry_to_remove: 5182
INFO:root:doubtfull_entry: 1065
INFO:root:nb of entries to delete: 26
INFO:root:       InvoiceNo StockCode                   Description  Quantity  \
77598    C542742    84535B  FAIRY CAKES NOTEBOOK A6 SIZE       -94
90444    C544038     22784         LANTERN CREAM GAZEBO         -4
111968   C545852     22464   HANGING METAL HEART LANTERN        -5
116064   C546191    47566B        TEA TIME PARTY BUNTING       -35
132642   C547675     22263       FELT EGG COSY LADYBIRD        -49

               InvoiceDate  UnitPrice CustomerID         Country  \
77598  2011-01-31 16:26:00       0.65      15358  United Kingdom
90444  2011-02-15 11:32:00       4.95      14659  United Kingdom
111968 2011-03-07 13:49:00       1.65      14048  United Kingdom
116064 2011-03-10 10:57:00       0.70      16422  United Kingdom
132642 2011-03-24 14:07:00       0.66      17754  United Kingdom

        QuantityCanceled
77598                  0
90444                  0
111968                 0
116064                 0
132642                 0
INFO:root:       InvoiceNo StockCode                      Description  Quantity  \
61619     541431     23166   MEDIUM CERAMIC TOP STORAGE JAR     74215
286633    562032    47559B              TEA TIME OVEN GLOVE        10
286632    562032     23147   SINGLE ANTIQUE ROSE HOOK IVORY        12
286631    562032     23146   TRIPLE HOOK ANTIQUE IVORY ROSE         4
14954     537626    85167B  BLACK GRAND BAROQUE PHOTO FRAME        30

               InvoiceDate  UnitPrice CustomerID         Country  \
61619  2011-01-18 10:01:00       1.04      12346  United Kingdom
286633 2011-08-02 08:48:00       1.25      12347         Iceland
286632 2011-08-02 08:48:00       1.45      12347         Iceland
286631 2011-08-02 08:48:00       3.29      12347         Iceland
14954  2010-12-07 14:57:00       1.25      12347         Iceland

        QuantityCanceled  TotalPrice
61619              74215        0.00
286633                 0       12.50
286632                 0       17.40
286631                 0       13.16
14954                  0       37.50